:root {
    --NEGRO: #000000;
    --LLAMA: #E44D26;
    --NARANJADEHALLOWEEN:#F16529; 
    --GRISBRILLANTE: #EBEBEB;
    --BLANCO: #FFFFFF; 

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #235761; 
    color: white;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 1.3rem;
    
    

}
.wrapper{
    padding: 10px 20px;
    width: 100%;
    height: 25%;
    text-align: left;

}

.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    list-style: none;
}

.list a {
    color: aqua;
    text-decoration: none;
    cursor: hover;
    padding: 10px 20px;
}

.description{
    text-align: center;
}

.menu{
    height: 25%;
}

.subtitle{
    font-size: 1.3rem;
    color: red;
}

.flex-info-content {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    height: 25%;
    padding: 10px;
    margin: 40px;
}

.flex-info-content img {
    width: 80%;
    height: 100%;
}

.Tecnologie {
    margin: 40px;
    list-style: none;
}

.fa-html5{
    background-color: #E44D26;
}
.fa-css3-alt{
    background-color: 	#2965f1;
}

.fa-js {
    background-color: rgb(98, 98, 20);
}
.fa-react{
    background-color: rgb(30, 22, 195);
}

.subtitle-description{
    padding: 10px;
    width: 100%;
}

.proyect-title{
    font-size: 1.7rem;
    padding: 20px;
    margin: 10px;
    width: 100%;
    text-align: right;
}


.img-todomachine{
    width: 60%;
    height: 100%;
    order: 1;
    
}
.proyect-todoMachine{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    order: 3; 
    
}
.proyects-description{
    order: 2;  
}

.button-code{
height: 100%;
width: 0%;
order: 2;
font-size: 24px;
padding: 14px 40px;
}

.button-git{
    border-radius: 12px;
    width: 250px;

}

.fa-square-github{
/* width: 100px;
height: 50%; */
}


.section-footer {
    height: 50%;
    font-size: 1.1rem;
}

.redes a {
    text-decoration: none;
    color: greenyellow;
}